<style>

*,html,body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  width: 100%;
}

header {
  height: 51px;
  /*border-bottom: 1px solid #e7e7e7;*/
  /*position: fixed;*/
  /*background-color: transparent;*/
}

.flex-container {
  /*max-width: 1000px;*/
  /*margin: 0 auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*justify-content: flex-start;*/
  flex-direction: row;
  height: 52px;
  padding-top: 20px;
}

#header-title {
  margin-left: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  /*background-color: red;*/
}

.topnav {
  padding-right: 5%;
}

#header-title img {
  max-height: 44px;
  padding-right: 15px;
}

#header-title p {
  text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  line-height: 1.38;
}


h1 a, li a{
  text-decoration: none;
  color: white;
}

.flex-container ul {
  display: flex;
  list-style-type:none;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
}

li {
  padding: 20px;
}

ul li a:hover {
  color: #fdcd2f;
  transition: 0.3s;
}


li.icon {
  display: none;
}

.one {
  height: auto;
  max-width: 100%;
  background-image: url(write.jpg);
  background-size: cover;
}

.one-text {
  padding: 10% 25% 5% 10%;
  color: white;
  /*top: 0;*/
  overflow: auto;
}

#square {
  background-color: #fdcd2f;
  width: 274px;
	height: 60px;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#square p {
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  /*font-style: normal;*/
  font-stretch: normal;
  line-height: 1.5;
  color: #000000;
}

#square:hover {
  background-color: #2f5ffd;
  transition: .5s;
}

.one-text a {
  background-color: #FFCC00;
  border-radius: 10%;
  text-decoration: none;
  flex-grow: 1;
}

.two {
  max-width: 100%;
  background-color: #FFCC00;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
}

.two p, .four p, .five p, .six p, .seven p, .eight p, .nine p, .ten p, .eleven p {
  padding: 2% 0% 0% 0%;
  max-width: 833px;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 36px;
}


.three {
  background-image: url(tree.jpg);
  background-size: cover;
  width: 1;
  height: auto;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  padding: 8% 0 8% 0;
  /*text-align: center;*/
}

.three-three {
  width: 3;
  display: flex;
  flex: 1;
  padding: 0 5% 0 5%;
  line-height: 27px;
  justify-content: baseline;
  color: white;
  -webkit-flex-direction: column;
  flex-direction: column;


  display: -webkit-flex;
display: flex;
-webkit-flex-direction: column; /* works with row or column */
flex-direction: column;
-webkit-align-items: center;
align-items: center;

}

.three-three img {
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}

.three-sub {
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.three-line {
  height: 183px;
  border: solid 1px #8c8c8c;
}

.three-three p {
  /*-webkit-justify-content: flex-end;
  justify-content: flex-end;*/
  text-align: center;
  justify-content: center;
  line-height: 27px;
}

h3{
  font-family: 'Oswald';
  font-size: 28px;
  font-weight: bold;
}

.three-three p {
  max-width: 250px;
  font-family: Roboto;
 font-size: 18px;
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 color: #ffffff;

  /*margin: auto;*/
}

.four {
  height: auto;
  background-color: #242c32;
  color:white;
  max-width: 50%;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
}

.five {
  height: auto;
  background-color: #121619;
  color: white;
  width: 10%;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center;

}

.five a p {
  color: white;
}

.five a p:hover {
    color: #fdcd2f;
    transition: .5s;
}

.five a p:visited {
  color: #2F5FFD;
}

.five-box {
  background-color: white;
  height: 153px;
  width: 200px;
  display: -webkit-flex;
 display: flex;
 -webkit-flex-direction: row /* works with row or column */
 flex-direction: row;
 -webkit-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 justify-content: center;
}

.five-box img {
   max-width: 150px;
}

.six {
  height: auto;
  background-color: #e9e9e9;
  color: black;
  max-width: 50%;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
}

.seven {
  height: auto;
  background-color: white;
  color: black;
  width: 10%;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
  /*display: flex;*/
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: center;
  align-content: center;
}

.seven a p:hover {
    color: #2F5FFD;
    transition: .3s;
}

.seven a p:visited {
    color: #fd2f5f;
    transition: .3s;
}

.seven img {
  max-width: 200px;
  max-height: 257px;
  /*align-items: center;
  justify-content: center;*/

}

.eight {
  height: auto;
  background-image: url(couch.jpg);
  background-size: cover;
  max-width: 100%;
  color: white;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
  z-index: -1;
}

.eight p{
  max-width: 550px;
}

      form {
      max-width:550px;
      width: calc(100% - 2rem);
      /*margin:50px auto;*/
      /*padding: 5% 10% 5% 10%;*/
      padding-top: 2%;
      /*margin: 0 auto;*/
      }

      .feedback-input {
      color: #4c4c4c;
      font-family: 'Roboto', sans-serif;
      /*font-weight: bold;*/
      font-size: 18px;
      border-radius: 5px;
      line-height: 32px;
      background-color: #eeeeee;
      border: solid 1px #d2d2d2;
      transition: all 0.3s;
      /*padding: 400px;*/
      margin-bottom: 22px;
      width:100%;
      box-sizing: border-box;
      outline:0;
      padding: 2%;

      }

      .feedback-input:focus {
        border: solid 1px #d2d2d2;
       }


      textarea {
      height: 132px;
      line-height: 150%;
      resize:vertical;
      }

      [type="submit"] {
      font-family: 'Roboto', sans-serif;
      width: 50%;
      background:#fdcd2f;
      border-radius:2px;
      border:0;
      cursor:pointer;
      color:black;
      font-size:18px;
      padding-top:10px;
      padding-bottom:10px;
      transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
      margin-bottom: 50px;
      line-height: 32px;
      }
      [type="submit"]:hover { background:#2f5ffd;}


.nine {
  background-color: #242c32;
  height: auto;
  max-width: 50%;
  padding: 5% 10% 5% 10%;
  overflow: auto;
  font-size: 20px;
  color: white;
}

.ten {
  background-color: #14181b;
  color: white;
  width: 10%;
  padding: 5% 10% 5% 10%;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  object-fit: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items:flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
}

.ten img {
  max-width: 230px;
  max-height: 230px;
  justify-content: center;
}

.eleven {
  height: auto;
  background-image: url(mountains-clouds-forest-fog.jpg);
  background-size: cover;
  max-width: 50%;
  padding: 5% 10% 5% 10%;
  /*overflow: auto;*/
  font-size: 20px;
}

.eleven a:link {
  color: black;
  text-decoration: none;
}

.eleven a:hover {
  color: #2f5ffd;
  transition: .5s;
}

.eleven a:visited {
  color: #fd2f5f;
}

.circle {
  display: flex;
  width: 3;
  height: 60px;
  border-radius: 50%;
  /*background-color: red;*/
}

.circle a:not(.facebook-no) {
  margin: 0 0% 0 4%;
}

.circle-circle {
  /*display: flex;*/
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: orange;
  /*justify-content: center;*/
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.circle img {
  max-width: 50px;
  max-height: 50px;
  justify-content: center;
}

.facebook {
  background-color: #3b5998;
}

.medium {
  background-color: #ebebeb;
}

.linkdin {
  background-color: #007bb6;
}

.twelve {
  max-width: auto;
  overflow: auto;
}


/* NAV BAR ---- When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:1100px) {
  ul.topnav li {
    display: none;
  }
   li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {
    position: relative;
    flex-direction: column;
    background: white;
    width: 100%;
    margin-top: 305px;
  }

  #header-title {
  position: absolute;
  margin-top: 0px;
  }
  ul.topnav.responsive li.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 ul.topnav.responsive li {
   float: none;
   display: inline;
 }
 ul.topnav.responsive li a {
   display: block;
   text-align: center;
 }

 .three-three {
   width: 100%;
 }

.four, .six, .eight, .nine, .eleven {
  max-width: 80%;
  padding: 5% 10% 5% 10%;
}

 .five, .seven, .ten {
   width: 100%;
   padding: 5% 10% 5% 10%;
 }


 }
}


</style>
